#searchResults, #currentWeather {
    height:200px;
    border-radius: 15px;
    /* border: 1px solid black; */
    margin-top: 0px;
    padding: 20px;
  }
  
  #currentWeather {
    font-size: 20px;
    display: flex;
    margin: auto;
    justify-content: space-between;
  }

  .styled-paragraph {
    font-size: 30px;
    color: #333;
    margin: 10px 0; /* Adjust the margin to add space */
    padding: 10px 0; /* Adjust the padding to add space */
    display: flex;
    justify-content: space-around;

  }

  body{
    background-color: lightcyan
  }

  .card-body{
    background-color: lightcyan;
  }

  .list-group-item {
    font-size: 12px;
    font-weight: bold;
    padding: 40px;
    background-color: lightcyan;
  }

#btn {
  color: black;
  font-weight: bold;
  background-color:white

}